body{
  background-color: #526D82;
  margin:0; 
  line-height: 150%;
  padding: 30px;
  /* font-family: 'Montserrat', sans-serif;
  font-weight: 'regular'; */
  font-family: 'General Sans', sans-serif;
}
button, input{
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'General Sans', sans-serif;
}
h1, h3{
  margin:0; 
}
p{
  font-size: 20px;
}
a{
  color:black
}
.secondary-heading{
  font-family: 'Clash Display', sans-serif;
}
.heading{
  text-align: center;
  font-family: 'Clash Display', sans-serif;
  padding:10px; 
}
.button{
    background-color:aliceblue;
    border: none;
    padding: 10px; 
    font-size: 16px;
    margin: 0 5px;
  }
  .button:hover{
    background-color: #526D82;
  }

/* Header shit */
.header-main{
  background-color: darkgray;
  width:100%; 
  padding:15px 20px;
  box-sizing: border-box;
  min-height:72px;
}
.header-btn{
  background-color:aliceblue;
  border: none;
  padding: 10px; 
  font-size: 16px;
  margin: 0 5px;
}
.header-btn:hover{
  background-color: #526D82;
}
.contact-btn{ 
}
.header-icon{
  margin-left:0; 
}
.nav-btn{
  float: right;
  overflow: auto;
}

.nav-menu{
  margin: -7px 0;
  font-size: 26px;
}
.menu-div{
  display: inline-block;
}
.dropdown-btn{
  display: none;
}
.social-btn{
  margin-top: -10px;
  position: relative;
  top: 5px;
  font-size: x-large;
}
.menu-icon{
  display: none;
}
/* Header shit */

/* main shit*/
.main-div{

}
.main-container{
  width:100%; 
  background-color: antiquewhite;
  min-height:80vh;  
}
.main-heading, .main-description{
  margin: 10px;
  padding:10px;
  font-family: 'Clash Display', sans-serif;
  font-weight: 'light';
}
.main-heading{
  font-family: 'Clash Display', sans-serif;

}
.main-content{
  width:100%;
  text-align: center;
  margin: auto;
  padding-top:80px; 
  font-size: 1.1rem;
}

.splash-img{
  display: block;
  margin: 0 auto;
  height:450px; 
  width:800px; 
}
.main-btn-div{
  text-align: center;
}
.main-btn{
  background-color:aliceblue;
  border: none;
  padding: 10px; 
  font-size: 16px;
  margin: 0 5px;
}
.main-btn:hover{
  background-color: #526D82;
}

/* About shit*/
.about-container{
  background-color: #F5EFE7;
}
.about-content{
  text-align: center;
}
.about-heading{
  text-align: center;
  padding:20px 0; 
}
.about-profile-img{
  width:150px; 
  height:150px; 
  border-radius: 50%;
  display: block;
  margin:0 auto; 
}
.about-description{
  padding:0 200px; 
}
.skill-container{
  text-align: center;
  padding:10px 100px; 
}
.skill{
  display: inline-block;
  padding:10px; 
}
.education-container{
  padding:20px 0;
  text-align: center;
}
.program-div{

}
.program-text{
   margin: 0;
   padding:5px;
}
.current-container{
  text-align: center;
  padding-bottom: 30px;
}
.current{
  padding-bottom:10px; 
}
.skill-img{
  height:80px;
  width:80px; 
}
/*Project shit */
.project-container{
  background-color: #D8D9DA;
  padding:20px 0; 
}
.project-heading{
  text-align: center;
  padding-bottom: 20px;
}
.project-content{
  display: flex;
  padding:40px; 
  
}
.project-description{
  box-sizing: border-box;
  padding-left:10px; 
   
}
.project-img{
  height:auto; 
  width:500px; 
  padding-left:10px; 
}
.project-btn{
  margin-left:0;
}
/*Contact shit */
.contact-container{
  background-color: #EEEDED;
}
.contact-img{
  height:100px; 
  width:100px;
}
.contact-heading{
  text-align: center;
  padding:20px 0; 
}

.contact-form{ 
  text-align: center;
  margin-left:40px; 
  margin-right:40px;  
  padding:20px; 
}
.contact-para{
  margin:0; 
  padding-bottom: 10px;
}
.form-input{
  margin:10px; 
  padding:10px; 
  width:300px; 

}
.form-message{
  box-sizing: border-box;
  display: inline-block;
  width:80%; 
  padding:10px; 
  margin:10px; 
}
.form-btn{
  background-color:aliceblue;
  border: none;
  padding: 10px; 
  font-size: 16px;
  display: block;
  margin:10px auto; 
}

.form-btn:hover{
  background-color: #526D82;
}

/* footer shit */
.footer-main{
  background-color: aliceblue;
  padding:20px;  
  text-align: center;
}
.footer-text{
  margin:0; 
}

/*Modal shit */
.overlay{
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0; 
}

.modal-content{
  background-color: #D8D9DA;
  min-height:500px; 
  max-height: 600px;
  width:1000px; 
  position: absolute;
  top:50%;
  left:50%; 
  transform:translate(-50%, -50%);
  padding:10px; 
}
.modal-title{
  padding-left: 30px;
  
}
.modal-heading{
  display: inline-block;
  padding:20px 0;
  margin: 0; 
}
.close-modal-btn{
  border: none;
  background-color: #D8D9DA ;
  float: right;
  padding-right: 30px;
  padding-top:20px;
  margin-top:-15px;


}
.modal-body{
  display: flex;
  padding:0 30px;
}
.modal-img{
  padding-left:10px; 
  height: 400px; 
  max-width:600px; 
}
.modal-description{
  padding-right:10px;
}

.code-btn{
  background-color:aliceblue;
  border: none;
  padding: 10px; 
  font-size: 16px;
  display: block;
}
.code-btn:hover{
  background-color: #526D82;
}
.stack-div{
  display: inline-block;
  padding:5px;
  font-size: 16px;
  padding-left:30px; 

}
.stack-p{
  display: inline-block;
  padding:5px;
  padding-left: 0;
}
.stack{
  padding: 10px;
  color:white;
  font-size: 16px;
  margin-right:10px; 
  margin-left:0;
}
.line-br{
  display: none;
}

.image-modal-container{
  width:80%;
  height:80%; 
  background-color: #D8D9DA;
  margin:100px auto; 
  position: relative;
}
.img-modal{
  width:100%; 
  height:90%;
  padding:35px 20px 20px 20px;
  box-sizing: border-box;

}
.imgModalCloseBtn{
  padding-top:0;
  margin-top:0;
  position: absolute; 
  top:0; 
  right:0; 
  padding-right: 0;
  font-size: larger;
}
@media screen and (max-width:768px){
  body{
    word-break: break-word;
  }
  .splash-img{
    max-width: 100%;
    height: auto;
  }
  .main-content{
    width:100%; 
  }
  .header-btn{
    display: none;
  }
  .nav-dropdown{
    display: none;
    padding: 10px;
  }
  .dropdown-btn{
    display: block;
    padding: 20px 100px;
    width:100%; 
    font-size: 1.2rem;
    word-break: keep-all;
    margin-bottom:5%; 
  }
  .menu-div{
  }
  .menu-icon{
    display: inline-block;
  }
  
  .project-content{
    flex-direction: column;
    text-align: center;
    }

  .project-img{
    width:100%; 
    margin-top: 30px; 
    height: auto;
    padding-left: 0;
  }
  .img-modal{
    height:auto;
  }
  .image-modal-container{
    height:auto; 
  }

  /* */
  .form-input{
    width:40vw;
    text-align: center;
  }
  .form-message{
    text-align: center;
  }

  /* */
  .about-profile-img{
    width:150px; 
    height:150px;
    margin-top: 20px;
  }
  .about-description{
    padding:10px 50px; 
    text-align: center;

  }
  .current{
    padding:5px;
  }

  /*Main content */

  .main-content{
    padding-top:40px; 
  }
  .main-heading{
    line-height: 120%;

  }
  .line-br{display: block;}
  .stack-p{
    padding: 0;
  }
  .stack{
    margin-right: 0;
  }
  .stack-div{
    padding: 0;
  }
}

@media screen and (max-width:860px){
  .splash-img{
    max-width: 100%;
    height: auto;
    
  }
  .main-btn-div{
    display: flex;
    flex-direction: column;
  }
  .main-btn{
    margin: 5px auto;
    padding:15px;
  }

}


@media screen and (max-width:320px){
  .form-input{
    margin:10px auto; 
    width:90%; 
  }
  .skill-container{
    padding:0; 
  }
  .dropdown-btn{
    padding: 6vw 1.1vh;
    margin-bottom:5%;
  }
}

@media screen and (max-width:392px) and  (min-width:320px){

  .dropdown-btn{
    padding: 6vw 1.1vh;
    margin-bottom:5%;
  }
}

@media screen and (max-width:1050px){
  .modal-content{
    width:50%; 
    height:80%;
    overflow-y: auto;
    text-align: center;
  }
  .modal-body{
    flex-direction: column;
    
  }
  .modal-img{
    width:100%;
    margin-top:20px;
    padding-left: 0;
    height: auto;
  }
  .modal-title{
    padding:0 10px; 
    display: flex;
    justify-content: space-between;

  }
  .close-modal-btn{
    padding-right:0; 
  }
  .code-btn{
    display: inline-block;
  }
  .stack-div{
    padding-left: 0;
  }
  .stack{
    display: block;
    margin-bottom: 10px;
  }
}


@media screen and (max-width:425px){
  .skill-container{
    padding:0;
  }
}